@font-face {
  font-family: Muli;
  src: url('Muli-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: Muli;
  src: url('Muli-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: Muli;
  src: url('Muli-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Muli;
  src: url('Muli-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Muli;
  src: url('Muli-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Muli;
  src: url('Muli-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Muli;
  src: url('Muli-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Muli;
  src: url('Muli-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Muli;
  src: url('Muli-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: Muli;
  src: url('Muli-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Muli;
  src: url('Muli-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: Muli;
  src: url('Muli-ExtraLightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}
